/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


/* ===== Base Styles ===== */
:root {
  --font-family: 'Manrope', sans-serif;
  --line-height: 1.6;

  /* Light Mode Colors */
  --surface: #e9e6e3;
  // --surface: #FFDADA;
  --surface-low: #f6f3f0;
  --surface-lowest: #ffffff;
  --primary: #230004;
  /* Vinotinto */
  --secondary: #775a19;
  /* Gold */
  --tertiary: #0b0c0c;
  --on-surface: #1c1c1a;
  --outline: #dbc0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --surface: #171212;
    --surface-low: #201a1a;
    --surface-lowest: #120d0d;
    --primary: #4D0011;
    /* Vinotinto */
    --secondary: #e9c176;
    /* Gold */
    --tertiary: #3f3737;
    --on-surface: #ece0df;
    --outline: #554243;
  }
}

/* Variables globales para Tailwind Light Mode */
@theme static {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-surface-low: var(--surface-low);
  --color-surface-lowest: var(--surface-lowest);
  --color-on-tertiary: var(--on-tertiary);
  --color-on-outline: var(--on-outline);
  --color-on-surface: var(--on-surface);
}

/* Variables Dark Mode */


/* ===== Inputs ===== */
.input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--outline);
  padding: 0.5rem 0;
  color: var(--on-surface);
  font-family: var(--font-family);
}

// .input:focus {
//   border-bottom-color: var(--secondary);
//   outline: none;
// }